<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置模板引擎 -->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="templateLoaderPath" value="classpath:ftls/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="incompatible_improvements">2.3.25</prop>
                <prop key="template_exception_handler">rethrow</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="object_wrapper">
                    DefaultObjectWrapper(
                    2.3.25,
                    forceLegacyNonListCollections = false,
                    defaultDateType = freemarker.template.TemplateDateModel.DATETIME)
                </prop>
            </props>
        </property>
    </bean>
</beans>